<div class="row">  
  <h4>Welcome to Pittsburgh Animal Treatment Services</h4>  
  <div class="col-8">
    <%= render 'carousel' %>
    <p class="supertiny">&nbsp;</p>

    <div class="card">
      <div class="card-body">
        <p>The Pittsburgh Animal Treatment Services are a 
          group of vets dedicated to providing you and 
          your pets with the finest care in the Pittsburgh 
          area.  The links below will tell you more about 
          our services and in the near future we will be 
          expanding this site so that customers like 
          yourself can directly access records for your pets.
        </p>
      </div>
    </div>
  </div>
</div>
